* {
  margin: 0%;
  padding: 0%;
}

.container {
  max-width: 500px;
  margin: 100px auto;

  text-align: center;
}
.body {
  background: url(../images/background.jpg);
  background-position: center;
  background-size: 1600px, 1000px;
  background-repeat: no-repeat;
  padding: 210px;
}
